.form {
  text-align: center;
  font-size: 150%;
}
 .h1 {
  text-decoration:underline;

}
.fieldset {
  width:20%;
  height:150%;
  background-color:;
}
.legend {
  text-align:center;
  font-size:150%;
}
body{
  background-color:;
}
